@charset "utf-8";
#header {
	margin:10px auto;
	width: 980px;
	height: 100px;
	background: url('/pbcls/system/image/pbcls.jpg') 0 0px no-repeat;
	overflow:hidden;
	background-position:top left;
}
/* CSS Document */

